* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.nav-list li {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.main-content {
    padding-left: 40px;
}

.contact-list {
    float: right;
    padding-top: 40px;
}

.contact-header {
    float: right;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.contact-list li {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr 5fr;
}

.about {
    grid-row: 1 /1;
}

.skills {
    grid-row: 2 /2;
}