* {
    box-sizing: border-box;
    margin: 11px;
    padding: 0;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.about-dave {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.bio {
    display: flex;
    justify-content: space-between;
}

.project-title {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.project-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.skills-title {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.skills-list {
    display: flex;
    justify-content: center;
}

.contact-title {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.contact-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 37x;
}


/* img {
    max-width: 100%;
    height: auto;
} */

.dave-picture {
    display: flex;
    justify-content: center;
}