* {
    box-sizing: border-box;
    margin: 11px;
    padding: 0;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.about-dave {
    display: grid;
    columns: 80px 80px;
    padding-top: 100px;
}

.skills {
    padding-top: 100px;
}

.contact {
    display: grid;
    grid-template-columns: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.project-title {
    display: flex;
    justify-content: center;
}

.project-list {
    display: flex;
    justify-content: center;
}