        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
        html {
            font-family: 'Merriweather', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        
        body {
            background-color: rgb(74, 133, 243);
        }
        
        .container {
            background-color: rgba(212, 220, 245, 0.747);
            margin: 0px auto;
            max-width: 1500px;
            width: 90%;
        }

        .title{
            font-size: 65px;
        }

        .nav-list{
            font-size: 30px;
        }

        .about-dave{
            font-size: 42px;
        }

        .bio{
            font-size: 20px;
        }

        .project-title{
            font-size: 42px;
        }

        .project-list{
            font-size: 30px ;
        }

        .skills-title{
            font-size: 42px;
        }

        .skills-list{
            font-size: 18px;
        }

        .contact-title{
            font-size: 42px;
        }

        .contact-list{
            font-size: 30px;
        }


